.img {
  font-family: sans-serif;
  height: 100%;
  display: flex;
  padding-left: 5;
  padding-right: 5;
  padding-top: 24;
  padding-bottom: 24;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.h1 {
  font-size: 50px;
  font-weight: 600;
  color: #0c9869;
}
.controls {
  display: flex;
}

.float {
  position: fixed;
  width: auto;
  height: auto;
  padding: 5px;
  bottom: 40px;
  right: 40px;
  background-color: #0c9869;
  color: #fff;
  border-radius: 50px;
  text-align: center;
}
.input {
  width: 100%;
  height: 40px;
  border-radius: 12px;
  border: 2px solid #0c9869;
  padding: 12px 6px;
  font-size: 1.2rem;
}
.type {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: #0c9869;
}
.type select {
  background-color: #fff0f0;
  border-radius: 12px;
  font-size: 20px;
  color: #0c9869;
  border-color: #0c9869;
  padding: 0px 6px;
  font-weight: 700;
}
.remark {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #0c9869;
  text-align: center;
}
.remark textarea {
  background-color: #fff0f0;
  border-radius: 12px;
  font-size: 20px;
  color: #0c9869;
  border-color: #0c9869;
  padding: 0px 6px;
  font-weight: 700;
  width: 50%;
}
.textareapos {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.info {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #0c9869;
  text-align: center;
}
.price {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #0c9869;
  text-align: center;
  margin-top: 12px;
  font-weight: 700;
}
.buy {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: #0c9869;
  text-align: center;
  margin-top: 12px;
  font-weight: 700;
}
.btn {
  border-radius: 12px;
  color: #ffffff;
  font-size: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 600;
  padding: 12px;
  text-transform: uppercase;
}
.btn2 {
  background: #ffa3a3;
  border: 1px solid #ffa3a3;
  padding: 10px;
  border-radius: 5px;
  color: #fd045c;
}
.loginbtn {
  background-color: white;
  border: none;
  border-radius: 12px;
  color: black;
  border: 2px solid;
  border-color: black;
  padding: 12px 30px;
  text-align: center;
  font-weight: 800;
  display: flex;
  margin-top: 5%;
  cursor: pointer;
}
.login img {
  width: 50%;
  margin-top: 5%;
}
.login {
  height: 100%;
  display: flex;
  padding-left: 5;
  padding-right: 5;
  padding-top: 24;
  padding-bottom: 24;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
